html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

footer {
    margin-top: auto;
}

/* Navbar */

.navbar {
    min-height: 100px;
}

.navbar-brand {
    height: 70px;
    width: 400px;
    text-align: center;
    font-size: 40px;
}

.nav-item {
    text-align: center;
    margin: 20px;
    height: 70px;
    padding: 10px;
    font-size: 20px;
}

/* About Me */

.image-container {
    margin: auto;
    width: 500px;
    padding: 10px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.about-me {
    font-size: 30px;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

/* Lines for seperating fields */

.line {
    width: 80%;
    size: 2;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

/* Footer */

.footer-container {
    background-color: #7FB069;
    padding: 20px 0;
    height: 200px;

}

.footer-contents {
    height: 90%;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    padding: 20px 0;
}

.floating {
    padding-top: 20px;
    float: left;
    width: 50%;
}

.email-link:link {
  text-decoration: none;
  color: black;
}

.email-link:visited {
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.email-link:active {
  text-decoration: underline;
}

.total-skills-container {
    width: 80%;
    height: 800px;
    margin: auto;
    position: relative;
}

.skills-context-container {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #B6D094;
    border-radius: 20px;
    text-align: center;
}

.all-skills-container {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 2;
}

.skill {
    width: 25%;
    height: 100%;
    float: left;
    margin-right: 20px;
    margin-left: 60px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

