<body>
    <div class="image-container">
        <img class="image" src="{{url_for('static', filename='assets/generic_image.jpg')}}" alt="Person smiling behind a forest background">
    </div>
    <div class="about-me">
        <h1 style="margin-bottom: 20px;">
            Hera Hafsteinsdóttir
        </h1>
        <p>Hello everyone! I am a student at Reykjavík University studying
            Computer science and a hope to be developer/programmer. I
            love expressing myself and as a part of that i designed this 
            website. Look around, browse and hopefully you find this as fun
            and interesting as I did designing it. Enjoy!</p>
    </div>
</body>