
<div class="total-skills-container">
    <div class="skills-context-container">
        <div class="about-skills">
            <h1 class="about-skills-header">Skills</h1>
            <p class="about-skills-text">These are my current skills, and hopefully this will
                increase as time goes on :D
            </p>
        </div>
    </div>
    <div class="all-skills-container">
        <div class="skill">
            <h3 class="skill-header">Back-End</h3>
            <p class="skill-text">Handles server side logic</p>
            <hr class="small-line">
            <p class="skill-text">Python</p>
            <p class="skill-text">Java</p>
            <p class="skill-text">Node.js</p>
            <p class="skill-text">PostgreSQL</p>
        </div>
        <div class="skill">
            <h3 class="skill-header">Tools and Workflow</h3>
            <p class="skill-text">Covers development, collaboration, testing, deployment, and automation.</p>
            <hr class="small-line">
            <p class="skill-text">Git/Github</p>
            <p class="skill-text">npm / pip</p>
            <p class="skill-text">Postman</p> 
            <p class="skill-text">Netlify</p>    
            <p class="skill-text">Prettier</p> 
            <p class="skill-text">VS Code</p>                 
        </div>
        <div class="skill">
            <h3 class="skill-header">Front-End</h3>
            <p class="skill-text">What the user can see and interact with</p>
            <hr class="small-line">
            <p class="skill-text">HTML</p>
            <p class="skill-text">CSS</p>     
            <p class="skill-text">JavaScript</p>     
            <p class="skill-text">BootStrap</p>
            <p class="skill-text">Figma</p>          
        </div>
    </div>
</div>